<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="atmosol_rocketintegration" frontName="atmosol_rocketintegration">
            <module name="Atmosol_RocketIntegration" />
        </route>
    </router>
</config>