<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Meigee_Universal::top_level"
             title="Meigee"
             module="Meigee_Universal"
             sortOrder="9999"
             resource="Magento_Backend::system"
            />
		<add id="Meigee_Universal::second_level"
             title="Universal v.2.5.5"
             module="Meigee_Universal"
             sortOrder="1"
             resource="Meigee_Universal::system"
             parent="Meigee_Universal::top_level"
			 action="adminhtml/system_config/edit/section/universal_general"
            />
    </menu>
</config>