#home-slider .item .slide-container.slide-skin {text-align: left; left: 62%; top: 40%;}
#home-slider .item .slide-container.slide-skin-2 {top: 15%;}
#home-slider .item .slide-container .title {font-size: 44px; font-weight: 300; color: #000; line-height: 1.3;}
#home-slider .item .slide-container .subtitle {font-size: 18px; font-weight: 300; color: #666; text-transform: uppercase;}

.text-banner {background-color: #eee; position: relative;}
.text-banner .banner-content {position: absolute; top: 39%; left: 10%; right: 10%;}
.text-banner .banner-content .title {font-size: 3.667em; font-weight: 300; color: #222; text-transform: uppercase; letter-spacing: 0; margin-bottom: .125em; display: block; line-height: 1.1;}
.text-banner .banner-content .subtitle {font-size: 1.5em; font-weight: 300; color: #666; text-transform: uppercase; margin-bottom: .2em; display: block; line-height: 1.1;}
.text-banner .banner-content.skin-1 {left: 8%; top: 51%;}
.text-banner .banner-content.skin-2 {left: 13%; top: 39%;}
.text-banner .banner-content.skin-3 {left: auto; top: 38%; right: 5%;}
.text-banner .banner-content.left {right: auto; left: 26%; top: 45%;}
.text-banner .banner-content.right {left: auto; right: 19%; top: 45%;}
.text-banner .banner-content.left .title,
.text-banner .banner-content.right .title {margin-bottom: .25em;}

/*Footer*/
body.wide-layout .footer,
body.boxed-layout .footer .container {background-color: #fff; color: #222; font-size: .91em; text-transform: uppercase;}
body.wide-layout .footer .footer-bottom .container,
body.boxed-layout .footer .footer-bottom .container {padding-top: 0; padding-bottom: 0; position: relative;}
body.wide-layout .footer .footer-bottom .container:before,
body.boxed-layout .footer .footer-bottom .container:before {
	content: '';
	display: block;
	position: absolute;
	left: 10px;
	right: 10px;
	top: 0;
	width: auto;
	height: 1px;
	background-color: rgba(0,0,0,0.1);
}
.footer .footer-links {padding: 0; margin-right: 40px; text-align: left;}
.footer .footer-links ul li a {font-weight: 400; padding: .25em 5px; font-size: 11px; line-height: 16.4px;}
.footer .footer-links ul li:first-child a {padding-left: 2px;}
.footer .footer-links li::before {display: none;}
.footer .footer-bottom-wrapper .footer-links li a:hover,
.footer .footer-links li a:hover {background-color: rgba(255,255,255,.1); text-decoration: underline;}
.footer .switcher .options .action.toggle {min-width: 80px;}
.page-footer .switcher .options ul.dropdown {right: 0; left: auto;}
.page-footer .switcher .options ul.dropdown::before {right: 10px; left: auto;}
.page-footer .switcher .options ul.dropdown::after {right: 9px; left: auto;}

.footer ul.social-links li a i {color: #222; position: relative; border-radius: 0;}
.footer ul.social-links li a i:after {
	content: '';
	border-bottom: solid 2px;
	border-color: transparent;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: border-color 300ms ease;
	-moz-transition: border-color 300ms ease;
	-webkit-transition: border-color 300ms ease;
}
.footer ul.social-links li a:hover i:after {border-color: #222;}
.page-footer .switcher strong:not(.switcher-label) {font-size: 1em; color: #666;}
.footer div.copyright,
.footer .store-switcher-wrapper {display: inline-block; margin-top: 10px;}
.page-footer .switcher strong.switcher-label {font-size: 11px; padding-bottom: 0;}
.footer .copyright {
	padding-top: 0;
	padding-bottom: 0;
}
.footer .switcher-store {margin-left: 0;}
.footer .copyright + .store-switcher-wrapper {
    padding-left: 15px;
    margin-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}
.footer .copyright + .store-switcher-wrapper:before {
    content: '';
    display: block;
    height: 20px;
    width: 1px;
    background-color: #ddd;
    position: absolute;
    left: 0;
    top: 0;
}
.footer address a {color: inherit;}

.price,
.price-box .special-price .price {
	color: #e1ae7c;
}
.product-info-main .product-social-links .action.mailto:hover,
.product-info-main .product-item-actions a.action:hover,
.product-info-main .product-addto-links .action:hover {
	background-color: #e1ae7c;
	border-color: #e1ae7c;
	color: #fff;
}
.products-grid .product-item-photo .product-image-wrapper {
	padding-bottom: 0 !important;
}
.product-info-main .box-tocart {margin-bottom: 0;}
.product-info-main .product-add-form {
    border-bottom: dotted 1px #ccc;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
}
.cart.table-wrapper .product-item-photo {padding-left: 10px;}
.cart-container .cart.actions a.continue,
.cart-container .cart.actions button {
    color: #282828;
    background-color: #EDEDED;
    border-color: #E6E6E6;
}
.cart-container .cart.actions a.continue:hover,
.cart-container .cart.actions button:hover {
    background-color: #E6E6E6;
}

.products-grid .btn,
.products-list .btn,
.product-addto-links .action,
.products-crosssell .product-item-actions button,
.product-item-actions a.action.towishlist,
.product-item-actions a.action.tocompare {
	background-color: #EDEDED;
	border-color: #EEEEEE;
	color: #282828;
}
.products-grid .product-item-name a:hover,
.products-list .product-item-name a:hover {text-decoration: underline;}
.products-list li.item .weltpixel-quickview,
.products-grid .item .weltpixel-quickview {
	background-color: #fff;
	border-color: #666666;
	color: #666666;
}
.toolbar-bottom {border-top: none;}
.product-info-main .page-title {text-transform: none; font-size: 41px;}

.products-grid .product-item-details {padding-right: 25%; position: relative;}
.products-grid .product-item-details .price-box {width: 25%; position: absolute; right: 0; top: 0; text-align: right;}
.products-grid .product-item-actions {padding-top: 0;}
.products-grid .item .flip-timer {margin-bottom: 5px;}

.products-grid .product-item-name a,
.products-list .product-item-name a {font-size: 12px; font-weight: 400; text-transform: uppercase; line-height: 13px;}
.products-grid.widget-product-grid .actions-secondary,
.products-list.widget-product-list .actions-secondary {display: none;}
/*Header 2*/
body.wide-layout .page-header.header-2 {padding-left: 10px; padding-right: 10px;}
.page-header.header-2 .panel  {float: left; margin-top: 8px; margin-bottom: 8px;}
.page-header.header-2 .welcome {float: left; font-size: 12px; text-transform: uppercase;  margin: 19px 20px 20px 10px;}
.page-header .logo {padding-top: 0; padding-bottom: 0;}
.header-wrapper .navbar-collapse.collapse a.level-top {font-size: 12px; padding-top: 14px; padding-bottom: 11px; line-height: 17px;}
.header-wrapper .navbar-collapse.collapse a.level-top.ui-state-focus,
.header-wrapper .navbar-collapse.collapse a.level-top.ui-state-active {border-bottom-color: #222; color: #222;}
.header-wrapper .wrapper-menu {margin: 6px 10px 0 10px;}
.page-header .right-block {padding: 20px 0 8px; margin-right: 20px;}
.header.links li.authorization-link a::before {content: none;}
.header.links li.authorization-link a {
	width: auto;
	height: auto;
	line-height: normal;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
    border: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0);
}
.header.links li.authorization-link a:hover {
	background-color: transparent;
	text-decoration: underline;
}

.page-header.header-2 .block-search {width: auto; margin: 0 20px 0 0; display: inline-block; vertical-align: middle; position: relative;}
.page-header.header-2 .block-search .block-title {
	display: inline-block;
	text-transform: uppercase;
	background-color: rgba(0,0,0,0);
	color: #222;
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	text-align: center;
	cursor: pointer;
	border: none;
	font-size: 12px;
	line-height: 18px;
}
.page-header.header-2 .block-search .block-title:hover {color: #e1ae7c;}
body.parallax .page-header.header-2 .block-search .input-group input {width: 234px; background-color: #eee; color: #888;}
body.parallax .page-header.header-2 .block-search .input-group input::-webkit-input-placeholder {color: #888;}
body.parallax .page-header.header-2 .block-search .input-group input::-moz-placeholder {color: #888;}
body.parallax .page-header.header-2 .block-search .input-group input:-ms-input-placeholder {color: #888;}
body.parallax .page-header.header-2 .block-search .input-group input::-moz-placeholder {color: #888;}
.page-header.header-2 .block-search .block-content {
	display: none;
	position: absolute;
	top: 100%;
	z-index: 99;
	right: 0;
	left: auto;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	background: #fff;
	padding: 1.5em 20px;
	width: 306px;
}
.page-header .language-currency-wrapper {margin-right: 20px;}
.minicart-wrapper {margin: 0 20px 0 0;}
.minicart-wrapper .action.showcart {padding-bottom: 0; line-height: 19px; position: relative; top: -1px;}
@-moz-document url-prefix() {
  .minicart-wrapper .action.showcart {top: 0;}
}

.minicart-wrapper .title-cart .counter-number {
    background-color: rgba(0,0,0,0);
    width: auto;
    height: auto;
    line-height: normal;
    font-size: 1em;
    font-family: inherit;
    min-width: 1px;
}
.minicart-wrapper .title-cart {font-size: 12px; text-transform: uppercase;}
.customer-welcome .action.switch {border: none; width: auto; height: auto; font-size: 12px; line-height: 22px;}
.customer-welcome .action.switch:hover {background-color: transparent;}

@media only screen and (min-width: 1008px) and (max-width: 1331px) {
	.text-banner .banner-content .title {font-size: 3em;}
	.text-banner .banner-content .subtitle {font-size: 1.16em;}
	.text-banner .banner-content.right {right: 10%;}
	.text-banner .banner-content.left {left: 16%;}
	#home-slider .item .slide-container.slide-skin-2 {top: 5%;}
	.footer .footer-links {text-align: left;}
	.page-header .right-block {margin-right: 5px;}
}
@media only screen and (min-width: 768px) and (max-width: 1007px) {
	#home-slider .item .slide-container .title {font-size: 34px;}
	#home-slider .item .slide-container .subtitle {font-size: 16px;}
	#home-slider .item .slide-container.slide-skin-2 {top: 5%;}
	.text-banner .banner-content .title {font-size: 3em;}
	.text-banner .banner-content .subtitle {font-size: 1.16em;}
	.text-banner .banner-content.right {right: 1%;}
	.text-banner .banner-content.left {left: 10%;}
	.page-header.header-2 .panel {margin: 0;}
	.page-header .panel .header.content {display: inline-block; width: auto; vertical-align: middle;}
	.page-header .logo img {display: block;}
	.page-header .right-block {padding-top: 22px;}
	.footer .footer-links {display: block; float: none !important; text-align: center;}
	.visible-sm {display: block !important;}
	.products-grid .product-item-details .price-box {display: block; width: 100%; margin-bottom: .5em; position: static; text-align: left;}
	.products-grid .product-item-details {padding-right: 0;}
}
@media only screen and (max-width: 767px) {
	.visible-xs {display: block !important;}
	#home-slider .item .slide-container.slide-skin {left: 20px; top: 10%;}
	#home-slider .item .slide-container.slide-skin-2 {top: 10%;}
	#home-slider .item .slide-container .title {font-size: 40px;}
	.text-banner .banner-content .title {font-size: 2em;}
	.text-banner .banner-content .subtitle {font-size: 1.16em;}
	.text-banner .banner-content.right {right: 1%;}
	.text-banner .banner-content.left {left: 10%;}
	.footer .social-links-wrapper,
	.footer .footer-links {display: block; width: 100%; float: none !important; text-align: center;}
	.footer ul.social-links {display: inline-block;}
	.footer .copyright + .store-switcher-wrapper {margin-left: 0; padding-left: 0;}
	.footer .copyright + .store-switcher-wrapper::before {content: none;}
	.page-header .logo img {display: block;}
	.page-header.header-2 .panel {float: none; display: block;}
	.page-header .right-block {text-align: left; padding-top: 10px;}
	.minicart-wrapper .title-cart .icon,
	.minicart-wrapper .title-cart .text {display: inline-block;}
	.page-header.header-2 .block-search .block-content {left: 0; right: auto;}
	.minicart-wrapper {margin-right: 0;}
	.products-grid .product-item-details .price-box .old-price {float: none;}
}