<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">




    <!-- preference for='Magento\Framework\View\Layout\Reader\Block' type='\Meigee\Universal\Preference\View\Block' / -->
    <!--<preference for='Magento\Framework\View\Layout\Reader\Container' type='Meigee\Universal\Preference\View\Container' />-->
    <!--<preference for='Magento\Framework\View\Layout\Reader\Move' type='Meigee\Universal\Preference\View\Move' />-->
    <!--<preference for='Magento\Framework\View\Layout\Reader\UiComponent' type='Meigee\Universal\Preference\View\UiComponent' />-->
    <!--<preference for='Magento\Framework\View\Page\Config\Reader\Body' type='Meigee\Universal\Preference\View\Body' />-->
    <!--<preference for='Magento\Framework\View\Page\Config\Reader\Head' type='Meigee\Universal\Preference\View\Head' />-->
    <!--<preference for='Magento\Framework\View\Page\Config\Reader\Html' type='Meigee\Universal\Preference\View\Html' />-->


  
<!--<preference for='Magento\Framework\View\Layout\Reader\Block' type='\Meigee\Universal\Preference\View\Block' />-->





<preference for='Magento\Framework\View\Layout\Reader\Block' type='Meigee\Universal\Preference\View\Block' />
<preference for='Magento\Framework\View\Layout\Reader\Container' type='Meigee\Universal\Preference\View\Container' />
<preference for='Magento\Framework\View\Layout\Reader\Move' type='Meigee\Universal\Preference\View\Move' />
<preference for='Magento\Framework\View\Layout\Reader\UiComponent' type='Meigee\Universal\Preference\View\UiComponent' />

<preference for='Magento\Framework\View\Page\Config\Reader\Body' type='Meigee\Universal\Preference\View\Body' />
<preference for='Magento\Framework\View\Page\Config\Reader\Head' type='Meigee\Universal\Preference\View\Head' />
<preference for='Magento\Framework\View\Page\Config\Reader\Html' type='Meigee\Universal\Preference\View\Html' />


  <type name="Magento\Framework\View\Result\Page">
    <plugin name="meigeeUniversalResultPage" type="Meigee\Universal\Plugin\Result\Page"/>
  </type>
</config>